.home {
  height: 100%;
  width: 100%;
}

.image {
  min-height: 100vh;
  background-color: black;
  background-image: url("../../Assets/juet.png");
  background-repeat: repeat-y;
  background-size: cover;

  filter: blur(3px) brightness(30%);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.text h1 {
  color: aliceblue;
  font-size: 60px;
  padding-bottom: 20px;
}

.text h2 {
  color: aliceblue;
  font-size: 50px;
  font-style: oblique;
  font-weight: normal;
}

.user {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.who {
  border: solid #fff;
  color: #fff;
  border-radius: 8px;
  padding: 40px 100px;
  text-align: center;
  transition: 0.3s;
}

.who p {
  font-size: 30px;
}

.who:hover {
  cursor: pointer;
  background-color: antiquewhite;
  color: black;
  transition: 0.3s;
  transform: scale(1.05);
}
